In [4]:
import pandas as pd 
import numpy as np

In [135]:
import warnings

warnings.filterwarnings('ignore')

In [ ]:
|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

positive = dog
negative = cat

FP = would be when you predict dog but it is a cat
FN = would be when you predict cat but it is a dog

In [130]:
tp=46
tn=34
fp=13
fn=7

In [131]:
accuracy = (tp+tn)/(tp+tn+fp+fn)

In [132]:
accuracy

0.8

accurately predict 80% of the time

In [5]:
eggs = "https://ds.codeup.com/data/c3.csv"

In [7]:
ducks = pd.read_csv(eggs)

In [8]:
ducks

        actual     model1     model2     model3
0    No Defect  No Defect     Defect  No Defect
1    No Defect  No Defect     Defect     Defect
2    No Defect  No Defect     Defect  No Defect
3    No Defect     Defect     Defect     Defect
4    No Defect  No Defect     Defect  No Defect
..         ...        ...        ...        ...
195  No Defect  No Defect     Defect     Defect
196     Defect     Defect  No Defect  No Defect
197  No Defect  No Defect  No Defect  No Defect
198  No Defect  No Defect     Defect     Defect
199  No Defect  No Defect  No Defect     Defect

[200 rows x 4 columns]

In [13]:
ducks.model1.value_counts()

model1
No Defect    190
Defect        10
Name: count, dtype: int64

In [14]:
ducks.model2.value_counts()

model2
No Defect    110
Defect        90
Name: count, dtype: int64

In [15]:
ducks.model3.value_counts()

model3
No Defect    101
Defect        99
Name: count, dtype: int64

In [144]:
ducks_actuals = ducks[ducks.actual == 'Defect']

In [145]:
ducks_actuals

     actual     model1     model2     model3
13   Defect  No Defect     Defect     Defect
30   Defect     Defect  No Defect     Defect
65   Defect     Defect     Defect     Defect
70   Defect     Defect     Defect     Defect
74   Defect  No Defect  No Defect     Defect
87   Defect  No Defect     Defect     Defect
118  Defect  No Defect     Defect  No Defect
135  Defect     Defect  No Defect     Defect
140  Defect  No Defect     Defect     Defect
147  Defect     Defect  No Defect     Defect
163  Defect     Defect     Defect     Defect
171  Defect  No Defect     Defect     Defect
176  Defect  No Defect     Defect     Defect
186  Defect  No Defect  No Defect  No Defect
194  Defect     Defect  No Defect     Defect
196  Defect     Defect  No Defect  No Defect

In [146]:
ducks_actuals.actual

13     Defect
30     Defect
65     Defect
70     Defect
74     Defect
87     Defect
118    Defect
135    Defect
140    Defect
147    Defect
163    Defect
171    Defect
176    Defect
186    Defect
194    Defect
196    Defect
Name: actual, dtype: object

In [147]:
(ducks_actuals.actual == ducks_actuals.model1).mean()

0.5

In [148]:
(ducks_actuals.actual == ducks_actuals.model2).mean()

0.5625

In [149]:
(ducks_actuals.actual == ducks_actuals.model3).mean()

0.8125

In [ ]:
# Recall would be the best metric, model 3 has the highest number of defects, therefore it would be the best choice to investigate
# minimize false negatives

In [ ]:
# Precision would be the best metric, model 1 has the lowest number of defects, therefore it would be the best choice to investigate

In [16]:
paws = "https://ds.codeup.com/data/gives_you_paws.csv"

In [17]:
fur_babies = pd.read_csv(paws)

In [150]:
fur_babies

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
1       dog    dog    cat    cat    dog
2       dog    cat    cat    cat    dog
3       dog    dog    dog    cat    dog
4       cat    cat    cat    dog    dog
...     ...    ...    ...    ...    ...
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

[5000 rows x 5 columns]

In [133]:
fur_babies.actual.mode()

0    dog
Name: actual, dtype: object

In [142]:
fur_babies.actual.value_counts(normalize=True)[0] #BASELINE
#Normalize turned this into a percentage
#[0] called out highest count

0.6508

In [183]:
fur_babies.actual

0       cat
1       dog
2       dog
3       dog
4       cat
       ...
4995    dog
4996    dog
4997    dog
4998    cat
4999    dog
Name: actual, Length: 5000, dtype: object

In [138]:
(fur_babies.actual == fur_babies.model1).mean()

0.8074

In [139]:
(fur_babies.actual == fur_babies.model2).mean()

0.6304

In [140]:
(fur_babies.actual == fur_babies.model3).mean()

0.5096

In [151]:
(fur_babies.actual == fur_babies.model4).mean()

0.7426

positive = "dog"
recall = minimize false negatives

In [143]:
# Looping!
# for col in df.columns[1:]:
# #     print(col)
#     acc = (df.actual == df[col]).mean()
# #     print(acc)
#     print(f'for {col} the accuracy is {acc}')

In [ ]:
#Models 1 and 4 are higher than the baseline

positive = 'dog'

recall = minimize our false negatives

precision = minimize our false positives

false negatives = predicting a cat, when its actually a dog

false positives = predicting a dog, when its actually a cat

In [171]:
fur_dogs1 = fur_babies [fur_babies.model1 == 'dog']

In [172]:
fur_dogs1

     actual model1 model2 model3 model4
1       dog    dog    cat    cat    dog
3       dog    dog    dog    cat    dog
5       dog    dog    dog    dog    dog
7       cat    dog    cat    cat    dog
8       dog    dog    cat    dog    dog
...     ...    ...    ...    ...    ...
4992    dog    dog    cat    cat    dog
4993    dog    dog    cat    dog    dog
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4999    dog    dog    dog    dog    dog

[2937 rows x 5 columns]

In [187]:
(fur_dogs1.actual == fur_dogs1.model1).mean()

0.8900238338440586

In [185]:
fur_dogs2 = fur_babies [fur_babies.model2 == 'dog']

In [ ]:
fur_dogs1 = fur_babies [fur_babies.model1 == 'dog']

In [186]:
fur_dogs2

     actual model1 model2 model3 model4
0       cat    cat    dog    cat    dog
3       dog    dog    dog    cat    dog
5       dog    dog    dog    dog    dog
9       dog    cat    dog    cat    dog
10      dog    dog    dog    dog    dog
...     ...    ...    ...    ...    ...
4983    dog    cat    dog    dog    dog
4988    dog    dog    dog    dog    cat
4990    dog    dog    dog    cat    dog
4995    dog    dog    dog    dog    dog
4999    dog    dog    dog    dog    dog

[1788 rows x 5 columns]

In [165]:
fur_dogs3 = fur_babies [fur_babies.model3 == 'dog']

In [166]:
fur_dogs4 = fur_babies [fur_babies.model4 == 'dog']

In [188]:
(fur_dogs2.actual == fur_dogs2.model2).mean()

0.8931767337807607

In [189]:
(fur_dogs3.actual == fur_dogs3.model3).mean()

0.6598883572567783

In [211]:
(fur_dogs4.actual == fur_dogs4.model4).mean()

0.7312485304490948

In [ ]:
#Based off data either 1 or 2 would be best to get dog pics

In [192]:
for col in fur_babies.columns[1:]:
#     print(col)
    tabbies = fur_babies [fur_babies[col] == 'cat']
    prec = (tabbies.actual == tabbies[col]).mean()
    
    print(f'for {col} the precision is {round(prec,2)}')

for model1 the precision is 0.69
for model2 the precision is 0.48
for model3 the precision is 0.36
for model4 the precision is 0.81

In [ ]:
#Based off data model 4 would be best to get dog pics

In [194]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report

In [197]:
accuracy_score(fur_babies.actual, fur_babies.model1)

0.8074

In [201]:
accuracy_score(fur_babies.actual, fur_babies.model2)

0.6304

In [202]:
accuracy_score(fur_babies.actual, fur_babies.model3)

0.5096

In [203]:
accuracy_score(fur_babies.actual, fur_babies.model4)

0.7426

In [198]:
precision_score(fur_babies.actual,fur_babies.model1, pos_label='cat')

0.6897721764420747

In [204]:
precision_score(fur_babies.actual,fur_babies.model2, pos_label='cat')

0.4841220423412204

In [205]:
precision_score(fur_babies.actual,fur_babies.model3, pos_label='cat')

0.358346709470305

In [206]:
precision_score(fur_babies.actual,fur_babies.model4, pos_label='cat')

0.8072289156626506

In [199]:
precision_score(fur_babies.actual, fur_babies.model1, pos_label='dog')

0.8900238338440586

In [207]:
precision_score(fur_babies.actual, fur_babies.model2, pos_label='dog')

0.8931767337807607

In [208]:
precision_score(fur_babies.actual, fur_babies.model3, pos_label='dog')

0.6598883572567783

In [209]:
precision_score(fur_babies.actual, fur_babies.model4, pos_label='dog')

0.7312485304490948

In [196]:
recall_score(fur_babies.actual, fur_babies.model1, pos_label='cat')

0.8150057273768614

In [212]:
recall_score(fur_babies.actual, fur_babies.model2, pos_label='cat')

0.8906071019473081

In [213]:
recall_score(fur_babies.actual, fur_babies.model3, pos_label='cat')

0.5114547537227949

In [214]:
recall_score(fur_babies.actual, fur_babies.model4, pos_label='cat')

0.34536082474226804

In [200]:
recall_score(fur_babies.actual, fur_babies.model1, pos_label='dog')

0.803318992009834

In [215]:
recall_score(fur_babies.actual, fur_babies.model2, pos_label='dog')

0.49078057775046097

In [216]:
recall_score(fur_babies.actual, fur_babies.model3, pos_label='dog')

0.5086047940995697

In [217]:
recall_score(fur_babies.actual, fur_babies.model4, pos_label='dog')

0.9557467732022127

In [195]:
print(classification_report(fur_babies.actual, fur_babies.model1))

              precision    recall  f1-score   support

         cat       0.69      0.82      0.75      1746
         dog       0.89      0.80      0.84      3254

    accuracy                           0.81      5000
   macro avg       0.79      0.81      0.80      5000
weighted avg       0.82      0.81      0.81      5000